{{define "writingspace"}}
{{template "header"}}

<nav class="am-topbar">
  <h1 class="am-topbar-brand">
    <a href="#">moebook 萌书</a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
      <ul class="am-nav am-nav-pills am-topbar-nav">
          <li class="am-active"><a href="#">萌书</a></li>
          <!--<li><a href="#">项目</a></li>-->
          <li class="am-dropdown" data-am-dropdown>
              <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
              小书阁 <span class="am-icon-caret-down"></span>
              </a>
              <ul class="am-dropdown-content">
                  <li class="am-dropdown-header">标题</li>
                  <!--<li class="am-dropdown-header"></li>-->
                  <li><a href="#">我的作品</a></li>
                  <li class="am-active"><a href="#">我关注的作者</a></li>
                  <li><a href="#">我关注的作品</a></li>
                  <li class="am-disabled"><a href="#">我的团队</a></li>
                  <li class="am-divider"></li>
                  <li><a href="#">我的主页</a></li>
              </ul>
          </li>
      </ul>
    <form class="am-topbar-form am-topbar-left am-form-inline" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
      </div>
    </form>

    <div class="am-topbar-right">
      <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle>{{user}}<span class="am-icon-caret-down"></span></button>
        <ul class="am-dropdown-content">
          <li><a href="#">注册</a></li>
        </ul>
      </div>
    </div>

    <div class="am-topbar-right">
      <button id="commit_save" class="am-btn am-btn-success  am-topbar-btn am-btn-sm">保存</button>

    </div>
  </div>
</nav>

<link rel="stylesheet" href="/assets/css/editarea.css">

<div class="am-g" style="margin:0;" >
	<div id="editor" class="row">
	  <textarea v-model="input" debounce="300" class="col-md-6" id="md_text"></textarea>
    <link rel="stylesheet" href="/assets/css/entry.css">
	  <div v-html="input | marked" class="col-md-6 entry" ></div>  
	</div>
</div>
<script type="text/javascript">
  document.getElementById('commit_save').
    onclick = function() {//正确  
       var text=document.getElementById('md_text').value;
       var progress = $.AMUI.progress;
      if(text!=null){
        var http=new XMLHttpRequest();
        http.onreadystatechange=function()
        {
        if (http.readyState==4 && http.status==200)
          {
            progress.done();
          }
        }
      var data= {};
      data["text"]=text;
      
      http.open("POST","/writingspace",true);
      http.send(JSON.stringify(data));
      progress.start();
      }
}  
  
</script>

{{template "footer"}}
<script src="/assets/js/markdown.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //
        $('.am-g').height($(document).height()-$('.am-topbar').height()-$('.am-topbar').css('margin-bottom').replace('px', ''));
    })

</script>
{{end}}